<!DOCTYPE html>
<html>
<head>
  <title>  Minigame  </title>
  <!-- bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <!-- my css -->
  <link rel="stylesheet" type="text/css" href="assets/css/demochat.css">
  <!-- my js -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="assets/js/demochat.js"></script>
</head>

<body>
  <div class="main container-fluid">
    <!-- navi-bar -->
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Tien's Blog</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/index">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Music <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">request</a></li>
              <li><a href="#">Approve</a></li>
            </ul>
          </li>
          <li><a href="/home">Photo</a></li>
          <li  class="active"><a href="/chat">Chat</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" onclick="search()">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav> -->

    <h1> Chúc mọi người chơi game vui vẻ! </h1>

    <h2> <span id="myturn">Your</span> turn</h2>

    <!-- Modal content -->
    <div id="findBox" class="modal">
      <div class="modal-content">
          <h2>Welcome to Tien's GameBox!</h2>
          <br/>
          <h5>Find friend to start the game ...</h5>
          <br/>
          <div class="center">
            <button id="findFriend" class="button buttonready" onclick="Iamready()">FIND FRIEND</button>
          </div>
      </div>
    </div>

    <div id="winBox" class="modal">
      <div class="modal-content win">
          <h1 id="isWin">You win!</h1>
          <button id="restart" class="button btnrestart" onclick="restartgame()">RESTART</button>
          <button id="findnew" class="button btnfindnew" onclick="findnew()">FIND NEW FRIEND</button>
      </div>
    </div>

    <div id="chatbox">
      <ul id="chatlog">
      </ul>
      <br/>
      <div id="error-container">
      </div>
      <input type="text" class="name" id="name" placeholder="Enter your name!"/>
      <button type="button" id="chat" class="button buttonchat" onclick="sendMessage()">Let me chat!</button>
    </div>
    <div id="board" ></div>

    <h4 id="userOnline">user Online: <span id="numConnection">0</span></h4>
  </div>

</body>
</html>
