body{ 
  background-color: #2196F3;
}
.text{ 
  width: 350px; 
  height: 250px; 
  resize: none;
}
#chatbox{ 
  width: 30%;
  height: 650px; 
  float: right; 
  resize: none;
}
.name{ 
  width: 60%;
  height: 5%;
}
.buttonchat{ 
  width: 35%; 
  height: 5%;
}
#chatlog{ 
  width: 95%; 
  height: 95%;
  background-color: white;
  overflow-y: hidden; 
  margin: 0px; 
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
}
#userOnline{
}
.user { 
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc; 
  text-align: center; 
  text-decoration: none;
  color: #000; 
  display: block;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease; 
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease; 
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.user:hover {
  font-size: 30px;
  background: #f6f6f6; 
  cursor: pointer;
}
#userAvailable{
  width: 500px; 
  height: 300px; 
  list-style-type: none;
  margin: 10px;
  padding: 10px; 
  background-color: green;
  overflow-y: scroll; 
  border: 1px solid black;
}
/*.user{
margin: 1px; 
border: 1px solid black;
text-align: center; 
background-color: white;
}*/

ul{ 
  list-style: none; 
  word-wrap: break-word;
}
pre{ 
  padding: 5px; 
  margin:-bottom: 6px;
}
h1,h2,h3,h5{ 
  text-align: center;
}
#borderboard{ 
  width: 610px;
  height: 610px; 
  border: 3px solid black;
  display: block;
}
.btn{ 
  width: 30px; 
  height: 30px; 
  border: 1px solid black;
}
.checkX{ 
  background-image: url("../../images/lastX.png"); 
  background-size: 100%;
}
.checkO{ 
  background-image: url("../../images/lastO.png"); 
  background-size: 100%;
}
.lastX{ 
  background-image: url("../../images/X.png");
  background-size: 100%;
}

.lastO{ 
  background-image: url("../../images/O.png"); 
  background-size: 100%;
}
.button{ 
  border: none;
  color: black; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  -webkit-transition-duration: 0.4s;
  /* Safari */ 
  transition-duration: 0.4s; 
  cursor: pointer;
}
.buttonready{ 
  margin-left: 250px; 
  margin-right: 250px; 
  width: 500px; 
  height: 100px; 
  font-size: 40px;
  background-color: red;
}
.buttonready:hover {   
  background-color: #4CAF50;
  color: white;
}
.btnrestart{
  margin-left: 250px; 
  margin-right: 250px; 
  width: 500px; 
  height: 100px;
  font-size: 40px; 
  background-color: yellow;
}
.btnrestart:hover {   
  background-color: #4CAF50;   
  color: white;
}
.btnfindnew{ 
  margin-left: 250px; 
  margin-right: 250px; 
  width: 500px;
  height: 100px; 
  font-size: 40px; 
  background-color: red;
}
.btnfindnew:hover { 
  background-color: #4CAF50;
  color: white;
}
#textName{ 
  margin-left: 300px; 
  width: 400px; 
  height: 40px;
}
#btnRegister{ 
  margin-left: 350px; 
  margin-top: 10px; 
  width: 300px; 
  height: 60px; 
  font-size: 30px;
  background-color: #4CAF50; 
  color: white;
}
#btnRegister:hover {  
  background-color: #FF5722;  
  color: black;
}
#btnAccept{ 
  margin-left: 350px;
  margin-top: 10px; 
  width: 300px; 
  height: 60px; 
  font-size: 30px;
  background-color: #4CAF50; 
  color: white;
}
#btnAccept:hover {  
  background-color: #FF5722; 
  color: black;
}
#btnDeny{
  margin-left: 350px; 
  margin-top: 10px; 
  width: 300px; 
  height: 60px; 
  font-size: 30px; 
  background-color: #4CAF50; 
  color: white;
}
#btnDeny:hover { 
  background-color: #FF5722;  
  color: black;
}
.error{ 
  color: red;
}
/* The Modal (background) */
.modal { 
  display: none;
  z-index: 1; /* Sit on top */ 
  padding-top: 100px; 
  width: 100%; /* Full width */ 
  height: 100%; /* Full height */ 
  overflow: auto; /* Enable scroll if needed */ 
  background-color: rgb(0,0,0); /* Fallback color */ 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #e5ed57; 
  margin: auto; 
  padding: 0; 
  border: 1px solid #888; 
  width: 1000px; 
  height: 300px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s; 
  animation-name: animatetop; 
  animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {   
  from {
    top: -300px;
    opacity: 0
  }   
  to {
    top: 0;
    opacity: 1
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }   
  to {
    top: 0;
    opacity: 1;
  }
}
.win{ 
  background-color: green;
}
